#root{
    background: url(./assets/BGBlurMain.jpg);
    background-size: cover;
    color: white;  
    text-align: center;
    margin: auto;
}

/* Home Grid */
#content-box{
    display: grid;
    width: full;
    grid-template-areas: "main"
                         "main"
    ;
    grid-template-columns: 2fr;
    grid-template-rows: 2fr;
    place-content: center;
    justify-content: center;
}

h1,h2{
    font-family: "Cabinet-Bold";
}

p, :placeholder-shown{
    font-family: "Cabinet-Light";
}

@font-face {
    font-family: "Cabinet-Bold";
    src: url(../public/fonts/CabinetGrotesk_Complete/CabinetGrotesk_Complete/Fonts/WEB/fonts/CabinetGrotesk-Bold.woff);
}
@font-face {
    font-family: "Cabinet-Light";
    src: url(../public/fonts/CabinetGrotesk_Complete/CabinetGrotesk_Complete/Fonts/WEB/fonts/CabinetGrotesk-Thin.woff);
}